.singleProductWrapper{
    
    border : 1px solid brown;
    padding : 50px 150px 50px 150px;

    
    display: inline-block;
    margin: 0px auto;
    margin-top :150px;
    max-width: 1500px;

}
.content {
    margin-top: 15px;
    display : flex;
    flex-flow: row;
}
.title{
    padding-left: 20px;
    font-family: 'Courier New';
    border-bottom: 1px  solid brown;
}
.detailsTitle {
    margin-top : 25px;
    padding-left : 10px;
    font-family: 'Courier New';
    border-bottom:  1px solid brown;
}
