.Toolbar {
    height: 80px;
    
    background-color:#b5651d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    box-sizing: border-box;
    z-index: 90;
    position : fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.Toolbar nav{
    height: 100%;
}

.Logo {
    height : 5%;
}